[submodule "src/external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
