[submodule "src/external/yaml-cpp"]
	path = src/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/external/spdlog"]
	path = src/external/spdlog
	url = https://github.com/gabime/spdlog.git
